header{
    width: 100%;
    box-shadow: 0 4px 5px -5px rgba(0,0,0,.23);
    position: fixed;
    top: 0;
    z-index: 1;
    background-color: #fff;
}
.container{
    max-width: 1200px;
    padding: 0 19px;
    margin: 0 auto;
}
.nav-container{
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: height .1s linear;
}
.nav-container.cont-sticky {
    height: 8rem!important;
}
.nav-logo a{
    text-emphasis: none;
    text-transform: uppercase;
}
header .nav-logo a img{
    width: 85px;
    height: 85px;
}
header nav{
    display: flex;
    font-size: 18px;
    gap: 5px;
    text-transform: uppercase;
}
nav ul li{
    list-style: none;
    display: inline-block;
}
nav ul li a{
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
    padding: 0 15px;
}
nav a:hover{
    text-decoration: underline;
}
nav .nav-cart{
    cursor: pointer;
    position: relative;
}
nav .nav-cart span{
    position: absolute;
    top: -10px;
    right: -7px;
    background: crimson;
    font-size: 10px;
    color: white;
    padding: 2px 5px;
    border-radius: 50%;
    z-index: -1;
}
.cart{
    color: #333;
}
header .menu,
header .close{
    cursor: pointer;
    display: none;
}
@media (max-width: 650px){
    header ul{
        position: fixed;
        top: -100%;
        left: 0;
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1.5rem;
        flex-direction: column;
        background: #fff;
        z-index: 99;
        opacity: 0.97;
        transition: 0.5s linear;
    }
    header .menu,
    header .close{
    display: block;
    }
    header .close{
        position: absolute;
        top: 10px;
        right: 20px;
    }
    header ul.toggle{
        top: 0;
    }
}