header {
    width: 100%;
    box-shadow: 0 4px 5px -5px rgba(0, 0, 0, .23);
    position: fixed;
    top: 0;
    z-index: 1;
    background-color: #fff;
}

.container {
    max-width: 1200px;
    padding: 0 19px;
    margin: 0 auto;
}

.nav-container {
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: height .1s linear;
}

.nav-container.cont-sticky {
    height: 8rem !important;
}

.nav-logo a {
    text-emphasis: none;
    text-transform: uppercase;
}

header .nav-logo a img {
    width: 85px;
    height: 85px;
}

header nav {
    display: flex;
    font-size: 18px;
    gap: 5px;
    text-transform: uppercase;
}

nav ul li {
    list-style: none;
    display: inline-block;
}

nav ul li a {
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
    padding: 0 15px;
}

nav a:hover {
    text-decoration: underline;
}

nav .nav-cart {
    cursor: pointer;
    position: relative;
}

.cart {
    color: #333;
}

header .menu,
header .close {
    width: 20px;
    height: 20px;
    cursor: pointer;
    display: none;
}

.menu-bars,
.menu-close {
    width: 100%;
    height: 100%;
}

.open-flex {
    display: flex !important;
}

.closed-flex {
    display: none !important;
}

/* cart */

.cart-div {
    display: flex;
    flex-direction: column;
    position: fixed;
    z-index: 999;
    top: 0;
    right: 0;
    padding: 30px 25px 15px 25px;
    background-color: white;
    height: 100vh;
    width: 500px;
    transition: all 0.4s ease;
}

.page-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #00000075;
    z-index: 888;
    transition: all 0.3s ease-in;
}

.cart-title-btn {
    font-size: 17px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cart-full-h2 {
    font-size: 2 1px !important;
}

.cart-title-btn i {
    font-size: 25px;
    cursor: pointer;
}

.cart-body {
    height: 100vh;
    padding: 5px;
}


.empty-cart {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 160px;
    margin: 150px auto;
}

.empty-cart p {
    font-size: 20px;
    font-weight: 600;
    margin-top: 10px;
}

.empty-cart button {
    width: 100%;
    height: 44px;
    font-size: 17px;
    margin-top: 30px;
    cursor: pointer;
}

.closed-cart {
    right: -100%;
}

.open-cart {
    right: 0;
}

/* full cart */

.full-cart {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.full-cart-div {
    overflow-y: scroll;
    padding: 5px;
    height: 70%;
    margin-top: 20px;
    margin-right: -5px;
}

.cart-item {
    width: 100%;
    height: 150px;
    display: grid;
    grid-template-columns: 30fr 50fr 20fr;
    border: 1px solid #717171;
    border-radius: 3px;
    background-color: #f2f2f2;

}

.cart-img {
    width: 100%;
    height: 100%;
    background-color: white;
}

.cart-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 3px;
}

.cart-middle {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px;
}

.cart-btns {
    display: flex;
}

.cart-btns button {
    font-size: 20px;
    width: 30px;
    height: 30px;
    background-color: black;
    color: white;
    cursor: pointer;
}

.cart-btns p {
    font-size: 20px;
    outline: 2px solid black;
    outline-offset: -2px;
    width: 30px;
    text-align: center;
    padding-top: 3.5px;
}

.cart-name {
    font-size: 24px;
}

.cart-right {
    display: flex;
    flex-direction: column;
    text-align: right;
    justify-content: space-between;
    padding: 15px;
    font-size: 24px;
    font-weight: 600;
}

.cart-right i {
    cursor: pointer;
}

.cart-icon {
    position: relative
}

.cart-icon::after {
    content: '';
    top: -18px;
    position: absolute;
    left: 12px;
    font-size: 11px;
    background-color: #B6002C;
    color: white;
    padding: 5px;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    text-align: center;
    display: none;
}

.cart-icon.with-items::after {
    content: attr(data-array-length);
    top: -16px;
    position: absolute;
    left: 12px;
    font-size: 11px;
    background-color: #B6002C;
    color: white;
    padding: 5px;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    text-align: center;
    display: block;
}

/* subtotal */

.subtotal-div {
    display: flex;
    width: 100%;
    height: 120px;
    border-top: 2px dashed black;
    margin-top: 15px;
    padding: 10px 0;
    justify-content: space-between;
}

.sub-right {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 25px;
    font-weight: 600;
}

.sub-left a {
    font-size: 20px;
    color: black;
    border: 2px solid black;
    text-decoration: none;
    background-color: transparent;
    padding: 10px 35px;
    transition: all 0.2s;
}

.sub-left a:hover {
    background-color: #000000;
    color: white;
}

.sub-left {
    padding-top: 40px;
}

@media (max-width: 650px) {
    header ul {
        position: fixed;
        top: -100%;
        left: 0;
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1.5rem;
        flex-direction: column;
        background: #fff;
        z-index: 99;
        opacity: 0.97;
        transition: 0.5s linear;
    }

    header .menu,
    header .close {
        display: block;
    }

    header .close {
        position: absolute;
        top: 10px;
        right: 20px;
    }

    header ul.toggle {
        top: 0;
    }
}