.home-container{
    padding-top: 120px;
}
.grid-container {
    display: grid;
    height: 500px;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 'one two four' 'one two four-low';
    gap: 1.3rem;
    margin-top: 1.3rem;
}

.featured {
    overflow: hidden;
    position: relative;
    cursor: pointer;
}

.lil-overlay {
    background-color: rgba(0, 0, 0, .3);
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    transition: all .3s ease-in;
    width: 100%;
}

#img1:hover,
#img2:hover,
#img3:hover,
#img4:hover {
    background-color: rgba(0, 0, 0, .5) !important;
}

.main-description {
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: white;
    font-size: 38px;
    font-weight: 600;
}

.featured img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: 50% 50%;
}

.grid-one {
    grid-area: one;
}

.grid-two {
    grid-area: two;
}

.grid-four {
    grid-area: four;
}

.grid-four-low {
    grid-area: four-low;
}

.lil-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease-in;
}

@media (max-width: 750px) {
    .grid-container {
        grid-gap: 13px;
        display: grid;
        gap: 13px;
        grid-template-areas:
            "one two"
            "four four-low";
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        height: 500px;
    }
}

@media (max-width: 450px) {
    .main-description {
        bottom: 10px;
        font-size: 25px;
        left: 5px;
    }
}