a {
    text-decoration: none;
    color: black;
}

.proud-container {
    padding: 110px 0;
}

.proud-h2 {
    font-size: 26px;
    font-weight: 600;
    margin-bottom: 4.2rem !important;
}

.product {
    outline: 2px solid rgba(0, 0, 0, .205);
    outline-offset: -2px;
    transition: all 0.15s ease-in;
    cursor: pointer;
}

.product:hover {
    outline: 2px solid rgba(0, 0, 0, .7);
}

.product-header img {
    width: 100%;
}

.product-details {
    font-size: 17px;
    padding: 10px;
}

.item-price {
    font-weight: 600;
    font-size: 22px;
    margin-top: 14px;
}

.products-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
}

@media (max-width: 750px) {
    .products-grid {
        grid-gap: 20px;
        display: grid;
        gap: 20px;
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 450px) {
    .products-grid {
        grid-template-columns: 1fr;
    }
}

/* CategoriesHeader */

.categories-header {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: -40px;
    padding-top: 170px;
}

.categories-header a {
    color: #000;
    font-size: 16px;
    text-decoration: none;
}

.title-home {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 60px;
}

.title-home a {
    text-align: left;
    padding-bottom: 2px;
}

.title-home h3 {
    font-size: 27px;
    margin: 0 auto;
    text-align: center;
    text-transform: uppercase;
}


.filter-btns {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}

.filter-btns button {
    background-color: initial;
    border: 2px solid rgba(0, 0, 0, .3);
    cursor: pointer;
    padding: 6px 16px;
    transition: all .2s;
}

.filter-btns button:hover {
    border: 2px solid rgba(0, 0, 0, .5);
}
.active button{
    background: #333;
    color: #fff;
}